@import url("https://fonts.googleapis.com/css2?family=Rawline:wght@300;400;500;700&display=swap");

/* Define as variáveis para todo documento */
:root {
  --cor-do-texto: #555;
}
/* "Reset" básico para todo documento */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "rawline", helvetica, arial, sans-serif;
  line-height: 1.5;
  color: var(--cor-do-texto);
  background-color: #fff;
}

/* Define estilos genéricos para todo documento */
abbr {
  text-decoration: none;
}
p {
  margin-block-start: 0;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h1 {
  /* Utilizado para o "banner" de avisos */
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
}
h2 {
  /* Utilizado para os tí­tulos dos "boxes" */
  font-size: 1.5rem;
  font-weight: 500;
}
.fas {
  /* Define as propriedades dos í­cones dos "boxes" */
  color: #f90;
  font-size: 4rem;
  margin-top: 2rem;
}

/* Define o comportamento do "container": ocupa, no mí­nimo toda altura do navegador. */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Define o comportamento das 3 principais áreas: topo, conteúdo principal e rodapé. */
header,
main,
footer {
  padding: 1rem 0;
}

/* Define os estilos do topo */
header {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1176px;
  margin: 0 auto;
  width: 95%;
}
header img {
  max-height: 3rem;
  margin-top: 0.5rem;
}

/* Define os estilos da área de conteúdos */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1176px;
  margin: 1rem auto;
  width: 95%;
}

.banner-informativo {
  background-image: url("../img/banner_portal_1176.gif");
  background-position: right;
  height: 216px;
  padding: 16px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.banner-informativo h1 {
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.botao {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f8f8f8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: first baseline;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  color: var(--cor-do-texto);
  transform: scale(1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.botao:hover {
  background-color: #fff;
  transform: scale(1.12);
  color: #444;
}

/* Define os estilos do texto de avisos */
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.info .fas {
  color: #ccc;
  font-size: 2.2rem;
  margin: 0 8px 0 0;
}

/* Define os estilos do rodapé */
footer {
  background-color: #555;
}
footer > div {
  max-width: 1176px;
  margin: 0 auto;
  width: 95%;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

/* Define estilos para telas maiores =========================================================================== */
@media (min-width: 768px) {
  /* Define os estilos do topo */
  header > div {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  header img {
    max-height: 4rem;
    margin-top: 0;
  }

  /* Define os estilos para área de conteúdo */
  main {
    width: 90%;
    padding: 0 1rem;
  }

  .banner-informativo {
    padding: 0 16px 0 200px;
    display: flex;
    align-items: center;
    background-position: left;
  }
  .banner-informativo h1 {
    background-color: rgba(255, 255, 255, 0);
    color: var(--cor-do-texto);
    text-align: left;
  }
  .botao {
    flex-basis: 20%;
    margin-right: 2rem;
    min-height: 16rem;
  }
  .boxes .botao:nth-child(3) {
    margin-right: 0;
  }

  /* Define os estilos do rodapé */
  footer > div {
    width: 90%;
  }
}
