.diagramacao-2col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.diagramacao-2col img {
  flex-shrink: 1;
  object-fit: none;
}

.diagramacao-2col p,
.diagramacao-2col ul {
  line-height: 1.7;
  padding-bottom: 0.4rem;
}

.diagramacao-2col a {
  text-decoration: none;
  color: var(--color-secondary);
  background-color: rgba(165, 42, 42, 0.1);
}

.diagramacao-2col a:hover {
  color: var(--color-light-primary);
  text-decoration: underline dotted var(--color-light-primary);
  background-color: rgba(165, 42, 42, 0.75);
}

@media (min-width: 768px) {
  .diagramacao-2col {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}
