/* box details styles */
.box-details details {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.box-details details h2 {
  margin: 2rem 0 0 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.box-details details p {
  margin: 1rem 0 1rem 1rem;
}
.box-details details a {
  text-decoration: none;
  color: rgba(165, 42, 42, 1);
  background-color: rgba(165, 42, 42, 0.1);
}
.box-details details a:hover {
  color: #fff;
  text-decoration: underline dotted #fff;
  background-color: rgba(165, 42, 42, 0.75);
}
.box-details ul {
  margin-left: 1rem;
}
.box-details li {
  padding-bottom: 0.5rem;
}
.box-details summary {
  font-weight: bold;
  cursor: pointer;
}
.box-details summary::marker {
  color: #999;
}
