/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Rawline:wght@300;400;500;600;700&display=swap");

/* variables */
:root {
  --cor-do-texto: #555;
  --cor-dos-icones: #f90;
  --largura-tela-peq: 90%;
  --largura-tela-gde: 90%;
  --largura-max: 1176px;
}

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "rawline", helvetica, arial, sans-serif;
  line-height: 1.5;
  color: var(--cor-do-texto);
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hidden Titles */
.page-title,
.info__title,
.footer__title {
  display: none;
}

/* Generic Styles */
abbr {
  text-decoration: none;
  text-transform: uppercase;
}
p {
  margin: 0 0 1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

/* Main Sections */
.header,
.main-content,
.footer {
  padding: 1rem 0;
}

/* Header Styles */
.header {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.header__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--largura-max);
  margin: 0 auto;
  width: var(--largura-tela-peq);
}
.header__logo-container img {
  max-height: 3rem;
  margin-top: 0.5rem;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: var(--largura-max);
  margin: 1rem auto;
  width: var(--largura-tela-peq);
}

/* Banner Styles */
.main-banner {
  height: auto;
  overflow: hidden;
  /* margin: 0.5rem 0; */
}
.main-banner-animation {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-banner-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/banner_portal_1176.png");
  background-position: left;
  animation: scaleBackground 15s infinite alternate;
}
.main-banner-animation p,
.main-banner-animation h2 {
  position: relative;
  line-height: 1.2;
  background-color: rgba(165, 42, 42, 0.7);
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  margin: 0.2rem 0;
}
.main-banner-animation p {
  font-size: 1.2rem;
}
.main-banner-animation h2 {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: none;
}
@keyframes scaleBackground {
  0% {
    transform: scale(1.2);
    background-position: left;
  }
  100% {
    transform: scale(1);
    background-position: left center;
  }
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  background-image: linear-gradient(45deg, #373737 0%, #000 100%);
}
.main-banner-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}
.main-banner-content p {
  font-size: 0.9rem;
  text-align: center;
  color: #888;
}

/* Navigation Styles */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 0;
}

.box-btn {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 1rem;
  background-color: #f8f8f8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  color: var(--cor-do-texto);
  transform: scale(1);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.box-btn:hover {
  background-color: #fff;
  transform: scale(1.12);
  color: #444;
}
.box-btn__symbol {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.2rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.box-btn__symbol__icon {
  color: var(--cor-dos-icones);
  font-size: 4rem;
}
.box-btn__symbol__icon-add {
  color: var(--cor-dos-icones);
  font-size: 2.2rem;
}

/* Section titles estyles */
.tile-start-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0.75rem;
}
.tile-start-section::before,
.tile-start-section::after {
  background: #ccc;
  content: "";
  height: 1px;
  width: 100%;
}
.tile-start-section i {
  color: #888;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0 1rem;
  white-space: nowrap;
}
.tile-start-section h1 {
  color: #888;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0 24px;
  white-space: nowrap;
}
.tile-start-section h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\F06D";
  display: inline-block;
  font-weight: 900;
  font-size: 16px;
  margin-right: 10px;
}

/* Information text styles */
.info,
.back-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.info i,
.back-home i {
  color: #ccc;
  font-size: 2.2rem;
  margin: 0 8px 0 0;
}

/* Back to home styles */
.back-home a {
  color: var(--cor-do-texto);
  text-decoration: none;
}
.back-home a:hover {
  text-decoration: underline dotted var(--cor-do-texto);
}

/* Footer styles */
footer {
  background-color: #555;
}
footer > div {
  max-width: var(--largura-max);
  margin: 0 auto;
  width: var(--largura-tela-peq);
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

/* Media Queries for Medium Screens =========================================================================== */
@media (min-width: 768px) {
  /* Header styles */
  .header__logo-container {
    flex-direction: row;
    justify-content: space-between;
    width: var(--largura-tela-gde);
  }
  .header__logo-container img {
    max-height: 4rem;
    margin-top: 0;
  }

  /* Main content styles */
  main {
    width: var(--largura-tela-gde);
    padding: 0 1rem;
  }

  /* Banner styles */
  .main-banner {
    border-radius: 15px;
  }
  .main-banner-animation {
    padding: 0 3rem 0 12rem;
    align-items: end;
  }
  .main-banner-animation p,
  .main-banner-animation h2 {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--cor-do-texto);
    text-align: right;
    padding: 0;
  }
  .main-banner-animation h2 {
    font-size: 1.9rem;
    text-transform: none;
    font-weight: 700;
  }

  .main-banner-content {
    padding: 2rem;
  }
  .main-banner-content h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .main-banner-content p {
    font-size: 1rem;
  }

  /* Boxes styles */
  .box-btn {
    flex-basis: 40%;
    max-width: calc(50% - 1rem);
  }

  /* Footer styles */
  footer > div {
    width: var(--largura-tela-gde);
  }
}

/* Media Queries for Large Screens =========================================================================== */
@media (min-width: 1024px) {
  /* Banner styles */
  .main-banner-animation {
    padding: 0 2rem 0 14rem;
    align-items: start;
  }
  .main-banner-animation p,
  .main-banner-animation h2 {
    text-align: left;
  }
  .main-banner-animation h2 {
    font-size: 2.1rem;
  }
  .main-banner-animation::before {
    animation: scaleBackground 20s infinite alternate;
  }
  .main-banner-content {
    flex-direction: row;
    column-gap: 1rem;
    align-items: start;
  }

  .main-banner-content h2 {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
  }
  .main-banner-content p {
    font-size: 1rem;
    text-align: left;
  }

  /* Boxes styles  */
  .box-btn {
    flex-basis: 30%;
    max-width: calc(33.3% - 1.33rem);
  }

  /* Section titles estyles */

  .tile-start-section h1 {
    font-size: 2rem;
    text-transform: none;
  }
  .tile-start-section h1:before {
    font-weight: 900;
    font-size: 1.5rem;
    margin-right: 0.75rem;
  }
}
