/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Rawline:wght@300;400;500;600;700&display=swap");

/* variables */
:root {
  --color-primary: #f90;
  --color-secondary: rgba(165, 42, 42, 1);
  /* b54e3d */

  --color-light-primary: #fff;
  --color-light-secondary: #ccc;
  --color-light-gray: #f8f8f8;

  --color-medium-gray: #555;
  --color-dark-gray: #373737;

  --color-dark-primary: #000;
  --color-dark-secondary: #888;

  --text-color-primary: #333;

  --largura-tela-peq: 90%;
  --largura-tela-gde: 90%;
  --largura-max: 1176px;
}

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "rawline", helvetica, arial, sans-serif;
  line-height: 1.5;
  color: var(--text-color-primary);
  background-color: var(--color-light-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hidden Titles */
.page-title,
.info__title,
.footer__title {
  display: none;
}

/* Generic Styles */
abbr {
  text-decoration: none;
  text-transform: uppercase;
}
p {
  margin: 0 0 1rem;
}

h1 {
  color: var(--text-color-primary);
  font-weight: 600;
  font-size: 36px;
  margin: 1.25rem 0 2rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
iframe {
  border: 0;
  border-radius: 1rem;
}

/* Main Sections */
.header,
.footer {
  padding: 1rem 0;
}

/* Header Styles */
.header {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.header__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--largura-max);
  margin: 0 auto;
  width: var(--largura-tela-peq);
}
.header__logo-container img {
  max-height: 3rem;
  margin-top: 0.5rem;
}

/* Breadcrumbs styles */
.main-content--large {
  margin: 0;
  padding: 0;
  width: 100%;
}
.breadcrumbs,
.main-content--large section > div {
  margin: 0 auto;
  max-width: var(--largura-max);
  width: var(--largura-tela-peq);
}
.main-content--large section:nth-of-type(even) {
  background-color: #fcfcfc;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: var(--largura-max);
  margin: 0 auto;
  padding: 2rem 0;
  width: var(--largura-tela-peq);
}

/* Breadcrumbs styles  */
.breadcrumbs-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  padding-bottom: 12px;
}
.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li::after {
  content: ">";
  color: #9d9d9d;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}
.breadcrumbs li:last-child::after {
  content: "";
}
.breadcrumbs li a {
  color: #cf4c39;
  text-decoration: none;
  position: relative;
  top: 1px;
  font-weight: 500;
}
.breadcrumbs li a:hover {
  background-color: #cf4c391e;
}
#breadcrumbs-current {
  font-weight: 600;
  position: relative;
  top: 1px;
}

/* Section titles styles  */
.section-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  padding: 1.25rem 0 1.25rem;
  margin: 0 0 1.25rem;
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 36px;
  }
}

/* Section tile titles estyles */
.tile-start-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0.75rem;
}
.tile-start-section::before,
.tile-start-section::after {
  background: var(--color-light-secondary);
  content: "";
  height: 1px;
  width: 100%;
}
.tile-start-section i {
  color: var(--color-medium-gray);
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0 1rem;
  white-space: nowrap;
}
.tile-start-section h1 {
  color: var(--color-medium-gray);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0 24px;
  white-space: nowrap;
}
.tile-start-section h1:before {
  font-family: "Font Awesome 5 Free";
  content: "\F06D";
  display: inline-block;
  font-weight: 900;
  font-size: 16px;
  margin-right: 10px;
}

/* Section tile end estyles */
.tile-end-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem;
}
.tile-end-section::before,
.tile-end-section::after {
  background: #ccc;
  content: "";
  height: 1px;
  width: 100%;
}
.tile-end-section i {
  color: #666;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0 1rem;
  white-space: nowrap;
}
.tile-end-section h2 {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0 1rem;
  white-space: nowrap;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .tile-end-section h2 {
    font-size: 1rem;
  }
}
.tile-end-section h3 {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0 24px;
  white-space: nowrap;
}
.tile-end-section h3:before {
  font-family: "Font Awesome 5 Free";
  content: "\F06D";
  display: inline-block;
  font-weight: 900;
  color: #333;
  font-size: 16px;
  margin-right: 5px;
}

/* Information text styles */
.info,
.back-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.info i,
.back-home i {
  color: var(--color-light-secondary);
  font-size: 2.2rem;
  margin: 0 8px 0 0;
}

/* Back to home styles */
.back-home a {
  color: var(--text-color-primary);
  text-decoration: none;
}
.back-home a:hover {
  text-decoration: underline dotted var(--text-color-primary);
}

/* Footer styles */
footer {
  background-color: var(--color-medium-gray);
}
footer > div {
  max-width: var(--largura-max);
  margin: 0 auto;
  width: var(--largura-tela-peq);
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-light-primary);
}

/* Styles for Medium Screens =========================================================================== */
@media (min-width: 768px) {
  /* Header styles */
  .header__logo-container {
    flex-direction: row;
    justify-content: space-between;
    width: var(--largura-tela-gde);
  }
  .header__logo-container img {
    max-height: 4rem;
    margin-top: 0;
  }

  /* Main content styles */
  main {
    width: var(--largura-tela-gde);
    padding: 0 1rem;
  }

  /* Footer styles */
  footer > div {
    width: var(--largura-tela-gde);
  }
}

/* Styles for Large Screens =========================================================================== */
@media (min-width: 1320px) {
  /* Section titles estyles */
  .tile-start-section h1 {
    font-size: 2rem;
    text-transform: none;
  }
  .tile-start-section h1:before {
    font-weight: 900;
    font-size: 1.5rem;
    margin-right: 0.75rem;
  }
}

/* Generic modifiers =========================================================================== */
.text-center {
  text-align: center;
}
.pb-short {
  padding-bottom: 1rem;
}
.pb-medium {
  padding-bottom: 2rem;
}
.pt-zero {
  padding-top: 0;
}
.pt-short {
  padding-top: 1rem;
}
.mt-zero {
  margin-top: 0;
}
.mb-zero {
  margin-bottom: 0;
}
.mb-short {
  margin-bottom: 1rem;
}
.mb-medium {
  margin-bottom: 2rem;
}
