/* Table styles */

:root {
  --max-color: rgba(165, 42, 42, 0.75);
  --min-color: rgba(218, 165, 32, 0.75);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.table {
  max-width: 100%;
  margin: 0 0 3rem;
}

/* .table h2 {
  } */
.table p {
  font-size: 0.75rem;
}
.table-container {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  table-layout: fixed;
}
caption {
  font-size: 0.85rem;
  line-height: 1.75;
  text-transform: uppercase;
  font-weight: 600;
  color: #888;
}
thead,
tfoot {
  background-color: #ddd;
  font-weight: 700;
}
thead tr,
tfoot tr {
  font-weight: 700;
}

th,
td {
  padding: 0.4rem;
  text-align: right;
  padding-right: 2rem;
}

tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.tag-min {
  background-color: var(--min-color);
}
.tag-max {
  background-color: var(--max-color);
  color: #fff;
}

/* Specific table styles */
.month-comp {
  line-height: 1.5rem;
}
