.mapa-focos--01-2023 {
  background-image: url("../img/focos-brasil/01-2023.jpg");
}
.mapa-qtd-focos--01-2023 {
  background-image: url("../img/focos-estados/01-2023.png");
}
.mapa-risco-fogo--01-2023 {
  background-image: url("../img/risco-fogo/01-2023.png");
}

.mapa-focos--02-2023 {
  background-image: url("../img/focos-brasil/02-2023.jpg");
}
.mapa-qtd-focos--02-2023 {
  background-image: url("../img/focos-estados/02-2023.png");
}
.mapa-risco-fogo--02-2023 {
  background-image: url("../img/risco-fogo/02-2023.png");
}

.mapa-focos--03-2023 {
  background-image: url("../img/focos-brasil/03-2023.jpg");
}
.mapa-qtd-focos--03-2023 {
  background-image: url("../img/focos-estados/03-2023.png");
}
.mapa-risco-fogo--03-2023 {
  background-image: url("../img/risco-fogo/03-2023.png");
}

.mapa-focos--04-2023 {
  background-image: url("../img/focos-brasil/04-2023.jpg");
}
.mapa-qtd-focos--04-2023 {
  background-image: url("../img/focos-estados/04-2023.png");
}
.mapa-risco-fogo--04-2023 {
  background-image: url("../img/risco-fogo/04-2023.png");
}

.mapa-focos--05-2023 {
  background-image: url("../img/focos-brasil/05-2023.jpg");
}
.mapa-qtd-focos--05-2023 {
  background-image: url("../img/focos-estados/05-2023.png");
}
.mapa-risco-fogo--05-2023 {
  background-image: url("../img/risco-fogo/05-2023.png");
}

.mapa-focos--06-2023 {
  background-image: url("../img/focos-brasil/06-2023.jpg");
}
.mapa-qtd-focos--06-2023 {
  background-image: url("../img/focos-estados/06-2023.png");
}
.mapa-risco-fogo--06-2023 {
  background-image: url("../img/risco-fogo/06-2023.png");
}

.mapa-focos--07-2023 {
  background-image: url("../img/focos-brasil/07-2023.jpg");
}
.mapa-qtd-focos--07-2023 {
  background-image: url("../img/focos-estados/07-2023.png");
}
.mapa-risco-fogo--07-2023 {
  background-image: url("../img/risco-fogo/07-2023.png");
}

.mapa-focos--08-2023 {
  background-image: url("../img/focos-brasil/08-2023.jpg");
}
.mapa-qtd-focos--08-2023 {
  background-image: url("../img/focos-estados/08-2023.png");
}
.mapa-risco-fogo--08-2023 {
  background-image: url("../img/risco-fogo/08-2023.png");
}

.mapa-focos--09-2023 {
  background-image: url("../img/focos-brasil/09-2023.jpg");
}
.mapa-qtd-focos--09-2023 {
  background-image: url("../img/focos-estados/09-2023.png");
}
.mapa-risco-fogo--09-2023 {
  background-image: url("../img/risco-fogo/09-2023.png");
}
