/* Table styles */
.anuario__table {
  min-width: 280px;
  margin: 2rem auto 2rem;
  font-size: 0.7rem;
}
.anuario__table tr {
  height: 3.5rem;
}
.anuario__table th,
.anuario__table td {
  padding: 0.4rem;
  text-align: center;
}
.anuario__table-obs {
  text-transform: none;
  font-weight: 400;
}
.anuario__table i {
  font-size: 1.4rem;
}
.fa-regular {
  color: rgba(0, 0, 0, 0.5);
}
.anuario__table a {
  text-decoration: none;
  color: rgba(165, 42, 42, 0.75);
}
.anuario__table a:hover {
  color: rgba(165, 42, 42, 0.5);
}
table {
  width: auto;
}
.equipe--ul {
  font-size: 0.9rem;
}

iframe {
  display: block;
  width: calc(90% - 1rem);
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0;
  border: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .anuario__table {
    font-size: 0.75rem;
  }
  .anuario__table th,
  .anuario__table td {
    padding: 0.4rem 1rem;
    /* text-align: left; */
  }
  .anuario__table tr {
    height: 3rem;
  }
}
